@using HolidayDestinations.Application.Destinations.Queries.GetAllDestinations

@model DestinationsListViewModel

@{
    ViewData["Title"] = "Home Page";
}


<h2>Holiday Destinations</h2>


<!-- Make sure you put this AFTER Leaflet's CSS -->
<div name="destinationsContainer">
    @{foreach (var destination in Model.Destinations)
        {
        <div name="destination" note="@destination.Note" latitude ="@destination.Latitude" longitude="@destination.Longitude">
        </div>
        }
    }
</div>


<div style="height: 360px; " id="mapid"></div>
