Requirements of the Coding Challenge: 
A web application is supposed to be developed on which future holiday destinations can be entered in an interactive map view. This map view will be implemented with the JavaScript Library "Leaflet" (https://leafletjs.com/). By clicking on the map it should be possible to place markers on the map.
UserStory: " I wish for example to travel to Israel next year, so I click with the mouse on the map on a position in Israel and can mark with it my holiday destination in Israel". 
In addition to the position a note text should be saved. 
UserStory: "I place a marker on any point in Israel and can type e.g. into a text field: Summer vacation 2020". 
It should be possible to store as many holiday destinations as desired in the form of geopositions with notes.
The frontend application should persist the holiday destination positions and notes in a database table via a REST API to be developed. 
Via the REST API the holiday destinations can be retrieved, saved and deleted. The interactive map view uses this REST API naturally with each user interaction.

Technologies:
- Interactive map as website view with Leaflet
- REST API in .NET (gladly .NET Core or .NET Framework 4.7.2)
- Database: MySQL

Timeframe:
Please send me the result of your coding challenge by Wednesday, 28.11., 22:00 by email: the source code and, if necessary, a way to create the database table.

We would then take a look at the challenge and get back to you to arrange a meeting. 

Steps
________________________________________

{
Leaflet library for map view
have a simple implementation

click and place markers on the map have a text box to enter the text

sent to the controller
30 10 30 

use the rest api client to store to the db
list, 
Create,
Delete
	
DB Id ,timestamp ,latitude, longitude, title/note

have a database conection needs to be mysql
30 11
}

video on Clean 1 hour
REST API

Refactor 1 hr

Test cases 30 mins

Testing on mobile30 mins

API 1hr

Documentation 30 mins


Submission Must by Tuesday night!
Management deadline 9 pm
TeamLead 4 pm
Dev deadline 12 noon
